.panellateral {
    position:static; /* Fijamos la posición para que no se mueva con el scroll */
    top: 0;
    left: 0;
    width: 100%; /* Ancho del panel lateral */
    height: 100%; /* Altura del panel lateral */
    background-color: #C2D8B9; /* Color de fondo del panel lateral */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra del panel lateral */
  }
  .panellateral ul {
    list-style: none; /* Quitamos los puntos de la lista */
    padding: 0;
    margin: 0;
  }
  .textlink{
    color: #000000;
  }
  
  .panellateral li {
    padding: 10px; /* Espacio interno entre elementos de la lista */
    border-bottom: 1px solid #ccc; /* Línea separadora entre elementos de la lista */
    display: block;
  }
  
  .panellateral li:last-child {
    border-bottom: none; /* Quitamos la línea separadora del último elemento de la lista */
  }
  
  .panellateral li:hover {
    background-color: #f2f2f2; /* Cambiamos el color de fondo al pasar el cursor por encima */
  }