.dash {
  background-color: #d9dcd6;
  height: 70px;
  display: flex;
  justify-content: center;
}

.dashList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

.dashItem {
  margin-right: 20px;
}

.dashLink {
  font-weight: bold;
  text-decoration: none;
  color: #2f6690;
  transition: color 0.2s ease-in-out;
}

.dashLink:hover {
  color: #3a7ca5;
}