.failurePayment__container {
    margin: 40px 100px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.failurePayment__notification {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.failurePayment__information {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.failurePayment__item_description {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 5px
}

.failurePayment__button {
    display: flex;
    justify-content: center;
}