.parkingLotSelection__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formParkinkgLotSelection{
    margin: 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
.parkingLotSelection__title {
    text-align: center;
    font-weight: bold;
}

.parkingLotSelection__description {
    text-align: center;
}

 .parkingLotSelection__parkingLots {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parkingLotSelection__notification {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(34, 162, 212);
}

.parkingLotSelection__error {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}