.reservationPanel__pageContainer {
	height: 50vh;
}

.reservationPanel__formContainer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.reservationPanel__title {
	text-align: center;
	font-weight: bold;
}

.reservationPanel__parkingSpaces_statuses {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.reservationPanel__parkingSpaces_status {
	display: flex;
	gap: 10px
}

.reservationPanel__available {
	inline-size: 20px;
	block-size: 20px;
	border: 2px solid green;
	border-radius: 50%;
	background-color: green;
}

.reservationPanel__occupied {
	inline-size: 20px;
	block-size: 20px;
	border: 2px solid red;
	border-radius: 50%;
	background-color: red;
}

.reservationPanel__reserved {
	inline-size: 20px;
	block-size: 20px;
	border: 2px solid darkorange;
	border-radius: 50%;
	background-color: darkorange;
}

.reservationPanel__parkingSpaces_filters {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.reservationPanel__parkingSpaces_filter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reservationPanel__levelsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reservationPanel__levels {
	display: flex;
	gap: 20px;
}

.reservationPanel__parkingSpaces_description {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reservationPanel__pagination__buttons {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.reservationPanel__pagination__button {
	padding: 10px;
	border-radius: 5px;
	font-weight: 700;
	background-color: green;
}

.reservationPanel__pagination__button:disabled {
	background-color: blue;
}

.reservationPanel__pagination__page {
	padding: 10px;
	align-self: center;
	font-weight: 500;
}

.reservationPanel__regulation {
	text-align: center;
}

.reservationPanel__notification {
	text-align: center;
	font-weight: bold;
}

.reservationPanel__error {
	margin: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reservationPanel__error_message {
	text-align: center;
}