body {
  font-family: 'Rubik', sans-serif;
}


:root {
  --primary-color: #2f6690;
  --secondary-color: #3a7ca5;
  --light-color: #d9dcd6;
  --dark-color: #16425b;
  --accent-color: #81c3d7;
}

.container {
  background-color: #f7f7f7;
}

.heading {
  text-align: center;
}

.message {
  font-size: 2rem;
  color: var(--accent-color);
  text-shadow: 2px 2px var(--light-color);
  font-family: 'Rubik', sans-serif;
}

.table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
}
.table th {
  padding: 20px;
}
.table td {
  padding: 20px;
}

a {
  color: #0077c2;
}
