.parkingLotFilter__container {
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
    width: 80vw;
    margin: 0 auto;
}

.parkingLotFilter__title {
    margin-block-end: 20px;
    text-align: center;
    font-weight: bold;
}

.parkingLotFilter__formGroup {
    margin: 5px;
}

.parkingLotFilter__label {
    text-align: center;
}

.parkingLotFilter__button {
    background-color: black;
}

.parkingLotFilter__notes {
    margin-block-start: 20px;
}

.parkingLotFilter__note {
    text-align: center;
    font-size: small;
}

.parkingLotFilter__error {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}