.logoAbout {
  max-width: 100px;
 
}

p {
  font-family: "Ysabeau", serif;
  font-size: 1.2em
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #16425b;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  line-height: 1.1;
  color: #16425b;
  text-align: center;
}

.buttonGoBack {
  display: block; /* convierte el botón en un bloque */
  margin: auto; /* centra el botón horizontalmente */
  text-align: center; /* centra el contenido del botón */
}

.AboutUs {
  padding: 2rem;
}