.logoAbout {
  max-width: 100px;
}

p {
  font-family: "Ysabeau", serif;
  font-size: 1.2em;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #16425b;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  line-height: 1.1;
  color: #16425b;
  text-align: center;
}
.contact-us {
  display: block; /* convierte el bot贸n en un bloque */
  margin: auto; /* Centro horizontalmente */
  margin-top: 0.5rem; 
  text-align: center; /* centra el contenido del bot贸n */
}

.buttonGoBack {
  display: block; /* convierte el bot贸n en un bloque */
  margin: auto; /* Centro horizontalmente */
  margin-top: 0.5rem; 
  text-align: center; /* centra el contenido del bot贸n */
}

.AboutUs {
  padding: 2rem;
}
