.main{
    width: 50%;
    margin: auto;
    padding: 10px;

    align-items: center;
    align-content: center;
    text-align: center; 
}
.cont{
    min-height: calc(100vh - 80px); 
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    align-content: center;
    text-align: center;
}