/* Estilos generales */
.searchContainer {
  align-items: center;
  width: 80%;
}

.searchButton {
  border: none;
  background-color: #194169;
  color: #f5f5f5;
  font-size: 17px;
  font-weight: 500;
  padding: 13px 22px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.searchButton:hover {
  background-color: #4575a5;
  color:#f5f5f5;
}

/* Estilos para el input de búsqueda */
input[type="text"] {
  margin-top: 13px;
  font-size: 20px;
  color: #194169;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  padding: 8px;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: #21568c;
}

/* Estilos responsivos */
@media (min-width: 576px) {
  .searchContainer {
    max-width: 450px;
    margin: 0 auto;
  }
}
