:root {
    --primary-color: #2f6690;
    --secondary-color: #3a7ca5;
    --light-color: #d9dcd6;
    --dark-color: #16425b;
    --accent-color: #81c3d7;
  }
.box{
    background-color: aliceblue;
    border: solid ;
    width: 50%;
    display: flex;
    gap: 10%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 0px solid rgb(211, 211, 225);
    border-right: 0px solid rgb(229, 229, 240);
    border-top: 0rem ;
    border-bottom: 0.2rem solid rgb(230, 231, 244);


}
.cont{
    height: calc(100vh - 80px); 
}
.boxerr{
    background-color: rgba(240, 248, 255, 0.307);
    border: solid ;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 0px solid rgb(211, 211, 225);
    border-right: 0px solid rgb(229, 229, 240);
    border-top: 0rem ;
    border-bottom: 0rem solid rgb(230, 231, 244);
    text-align: center;
    height: calc(100vh - 80px); 

}


.title{
    text-align: center;
    font-size: 2rem;
    color: #16425b;
    text-shadow: 2px 2px #9cbace;
    font-family: 'Rubik', sans-serif;
    padding: 15px
}