.Bg{
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
@import url('https://fonts.google.com/specimen/Rubik?query=rub');
@import url('https://fonts.google.com/specimen/Ysabeau');

.body {
margin: 0;
padding: 0;
font-family: 'Ysabeau', sans-serif;
}

.imglogo{
filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2)); 
position: relative;
overflow: hidden;
width:45%;
animation-name: fadeIn;
animation-duration: 3.1s;
animation-timing-function: ease-in-out;
}

main {
display: flex;
justify-content: center;
align-items: center;
height: calc(100vh - 130px);
}

.introsection {
text-align: center;
}

.introsection h2 {
  margin-top: 0px;
font-size: 69px;
color: #f5f5f5;
filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
font-family: 'Rubik', sans-serif;
font-weight: 800;
animation-name: fadeIn2;
animation-duration: 2s;
animation-timing-function: ease-in-out;
text-rendering: optimizeLegibility;
}

.introsection p {
font-size: 31px;
color: #f5f5f5;
filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
font-family: 'Rubik', sans-serif;
font-weight: 200;
animation-name: fadeIn;
animation-duration: 2s;
animation-timing-function: ease-in-out;
text-rendering: optimizeLegibility;
}

.Link {
display: inline-flex;
padding: 10px 50px;
border-radius: 31px;
border: none;
background-color: #194169;
color:  #f5f5f5;
font-family: 'Rubik', sans-serif;
font-size: 22px;
text-transform: uppercase;
cursor: pointer;
transition: 0.7s ease-out;
animation-name: fadeIn;
animation-duration: 3.1s;
animation-timing-function: ease-in-out;
margin-top: 7px;
filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.Link:hover {
  background-color: #6699cc;
  color:#f5f5f5;
  }

.linktext{
  color:  #f5f5f5;
  text-decoration:none;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  text-rendering: optimizeLegibility;
}

.linktext:hover{
  color:  #f5f5f5;
  text-decoration:none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}