.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #2f6690;
  padding: 0 50px;
}

.logoContainer {
  width: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  max-height: 60px;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: #d9dcd6;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.navLink:hover {
  color: #81c3d7;
}

.buttonContainer {
  margin-left: auto;
}