/* navBar.module.css */

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #194169;
  padding: 0 70px;
}

.logo img {
  padding-left: 70px;
  max-height: 50px;
}

.navLinks {
  padding-top: 13px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.31s ease-in-out;
  padding: 13px;
}

.navLink:hover {
  color: #85add6;
}


/* Estilos responsivos */

@media screen and (max-width: 768px) {
  .navbarContainer {
    padding: 0 20px;
  }

  .navLinks {
    gap: 20px;
  }

  .navLink {
    font-size: 13px;
  }

  .logo img {
    max-height: 31px;
  }
}
